/* estilos gerais */

html{
    /* variável para definir o verde 'oficial' */
    --main-green:#159e43;
}

body{
    font-family: 'IBM Plex Mono', sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

/* exemplo de utilizacao da variavel */
h1{
    color:var(--main-green);
}

#home{
    background-color: var(--main-green);
    width:100%; 
    height:100vh;
    padding:4rem 2rem;
}

#home figure{
    background-color:white;
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 1rem;
    display: flex;
}

#home figure img{
    margin:auto;
}

.box-shadow{
    box-shadow:0 0 1rem 0.2rem rgba(0,0,0,.3) }


/*
#home figure > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      height: auto;
}

figure a{
    display:inline-block;
    width:100%;
    text-align:center;
}

nav{
  background-color:white;  
  display:flex;
  justify-content:space-around;
  flex-wrap:Wrap;
}

nav a{
    padding:.75rem 0;
  padding-top:1rem;
  color:white;
  font-size:1.15rem;
  text-decoration:none;
  color:var(--main-green);
  margin:0 2rem;
}

a.active{
    border-bottom:.25rem solid var(--main-green);
}
*/
