/* ########################################################################################### */
/* ################################  ESTILOS GERAIS  ######################################### */
/* ########################################################################################### */


/* ########################################################################################### */
/* #################################  CRONOLOGIA  ############################################ */
/* ########################################################################################### */

#cronologia {
    min-height: 100vh;
    background-color: rgba(51, 51, 51, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
  }

  #cronologia > button {
    background: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
    transition-timing-function: ease-in;
    transition: flex-grow .25s;
    border:none !important;
    outline: none !important;
  }

  #cronologia > button h3 {
    opacity: 0;
    font-size: 1.45em;
    padding: .25rem;
    
  }

  #cronologia > button:hover, #cronologia > button:active {
    flex-grow: 4;
    transition: flex-grow .75s;
    cursor:pointer;
   /* background-color:#00c853;*/
    transition: background-color .1s;
    transition-timing-function:ease-in;
    font-size: 5vmin;

  }

  #cronologia button:hover h3, #cronologia button:active h3 {
    opacity: 1;
    transition-timing-function: ease-out;
    transition: opacity .55s;
    transition-delay: .3s;
    color:#222;

  }

/* ########################################################################################### */
/* ##############################  BOOTSTRAP RESETS  ######################################### */
/* ########################################################################################### */

  .modal-content{
    background-clip: 0;
    border: none;
    border-radius: 0;
    outline: 0;
  }

  .modal-dialog{
    min-height: 90vh !important;
    display: flex !important;
    max-width: 1140px;
    pointer-events: all;
  }
 
    .carousel{
      width:100%;
    }

    .carousel-inner, .carousel-item {
      height:100%;
    }

    .carousel-inner ~ a{
      z-index: 999;
      height:4rem;
      background-color: #222;
      top:calc(100% - 4rem)
    }

/* ########################################################################################### */
/* ################################  MEDIA QUERIES  ########################################## */
/* ########################################################################################### */
  
  @media screen and (max-width: 768px) {
    #cronologia {
      flex-direction: column;
      padding: 1rem !important;
    }
    #cronologia > button {
      height: auto;
      width: 90%;
    }
    #cronologia > button:hover {
      flex-grow: 4;
    }
  }
